body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #000;
}

.navbar {
    background-color: #007bff;
}

.navbar-brand img {
    height: 80px;
}

.navbar-nav .nav-item .nav-link {
    color: #fff !important;
    margin: 0 10px;
    font-weight: bold;
}

main {
    max-width: 1024px;
    margin: 20px auto;
    padding: 0 20px;
}

.post-container {
    margin-bottom: 20px;
    overflow: hidden;
}

.post {
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    color: #000;
}

.post img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.user-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-header img {
    margin-right: 10px;
}

.username {
    font-weight: bold;
    color: #000;
}

.comments {
    padding: 10px;
    border-top: 1px solid #dbdbdb;
    color: #000;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment .username {
    font-weight: bold;
}

.like-button,
.comment-button,
.edit-button,
.delete-button {
    background-color: transparent;
    border: none; 
    cursor: pointer;
    outline: none; 
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    padding: 0; 
}
