


/* Estilo do container ajustado para a página de login */
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Mesmo estilo do título */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

/* Mesmo estilo das labels */
label {
    font-weight: bold;
}

/* Estilo dos campos de entrada ajustados para a página de login */
input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

/* Estilo do botão de login ajustado para a página de login */
input[type="submit"] {
    width: 100%;
    background-color: #3897f0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilo do botão de login ao passar o mouse ajustado para a página de login */
input[type="submit"]:hover {
    background-color: #2980b9;
}

/* Mesmo estilo do link de "Já possui uma conta?" */
.signin {
    text-align: center;
    margin-top: 20px;
}

/* Mesmo estilo do link de "Faça login" */
.signin a {
    color: #3897f0;
    text-decoration: none;
}

/* Mesmo estilo do link de "Faça login" ao passar o mouse */
.signin a:hover {
    text-decoration: underline;
}
